p{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    color:yellow;
    background-color: cadetblue;
    align-content: center;
    padding: 5%;
}
#ruslt {
    background-color: chartreuse ;
}
